[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "forms"]
	path = forms
	url = git://github.com/megaannum/forms.git
[submodule "minibufexpl.vim"]
	path = minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/elzr/vim-json
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim-scala"]
	path = vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "wombat256.vim"]
	path = wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
